.main {
    background-color: #B9EDDD;
    margin: 0 0 0 0;
    padding-top: 105px;
}

body {
    margin: 0;
    text-align: center;
    color: #40514E;
}

.ovin {
    margin: 30px auto 0 auto;
    font-family: 'Sacramento', cursive;
    color: #577D86;
    font-size: 80px;
}

.profile {
    margin-top: 30px;
}

p {
    font-family: 'Roboto', sans-serif;
    line-height: 2;
}

h2 {
    color: #569DAA;
    font-family: 'Geologica', sans-serif;
    padding-bottom: 10px;
}

h3 {
    color: #87CBB9;
    font-family: 'Noto Sans JP', sans-serif;
}

hr {
   border: dotted #eaf6f6 6px; 
   border-bottom: none;
   margin: 20px auto;
   width: 8%;
}

.cloud1 {
width: 200px;
position: absolute;
left: 900px;
bottom: 500px;
}

.cloud2 {
    display: inline-block;
    width: 180px;
    position: absolute;
    left: 250px;
}
.hill1 {
    display: inline-block;
    width: 1005px;
}

.vas {
    color: #577D86;
}

.skill-row {
    width: 50%;
    margin: 50px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.sal {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.sal1 {
    width: 25%;
    float: right;
    margin-left: 30px;
}

.middle-container {
    margin: 100px 0px 100px 0;
}

.bottom-container {
    background-color: #B9EDDD;
    padding: 50px 0 20px;
}

a {
    color: #569DAA;
    font-family: 'Noto Sans JP', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover {
    color: white;
}

.copyright {
    color: white;
    font-size: 0.75rem;
    padding: 20px 0;
}

.intro {
    width: 30%;
    margin: 0 auto 20px auto;
}

.evt {
    width: 40%;
    margin: 30px auto 30px auto;
}

.btn {
    background: #B9EDDD;
    background-image: -webkit-linear-gradient(top, #B9EDDD, #577D86);
    background-image: -moz-linear-gradient(top, #B9EDDD, #577D86);
    background-image: -ms-linear-gradient(top, #B9EDDD, #577D86);
    background-image: -o-linear-gradient(top, #B9EDDD, #577D86);
    background-image: linear-gradient(to bottom, #B9EDDD, #577D86);
    -webkit-border-radius: 9;
    -moz-border-radius: 9;
    border-radius: 9px;
    font-family: 'Geologica', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #B9EDDD;
    background-image: -webkit-linear-gradient(top, #B9EDDD, #B9EDDD);
    background-image: -moz-linear-gradient(top, #B9EDDD, #B9EDDD);
    background-image: -ms-linear-gradient(top, #B9EDDD, #B9EDDD);
    background-image: -o-linear-gradient(top, #B9EDDD, #B9EDDD);
    background-image: linear-gradient(to bottom, #B9EDDD, #B9EDDD);
    text-decoration: none;
  }